<!DOCTYPE html>

{% load staticfiles %}

<html>

  <head>
    <title>{{ headword }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'iedu/style.css' %}" />
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-default">
        <a class="navbar-brand" href="{% url 'iedu:index' %}">Interactive Educator</a>
        <a class="btn btn-danger navbar-btn navbar_exit" href="{% url 'iedu:logout' %}">Выход</a>
        <p class="navbar-text navbar_user">{{ user.username }}</p>
      </nav>

      {% if messages %}
        {% for msg in messages %}
          {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success" role="alert">{{ msg }}</div>
          {% else %}
            <div class="alert alert-danger" role="alert">{{ msg }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}

      <div class="jumbotron slide-jumbotron">
        <h2>{{ headword }}</h2>

        <p>{{ text }}</p>

        <form id="slide-question-form" method="post" action="{% url 'iedu:slide' %}">
          {% csrf_token %}

          {% if question %}
            <p class="question-text"><i>{{ question.text }}</i></p>

            {% for choice in question.choice_set.all %}
              <div class="radio">
                <label for="choice{{ forloop.counter }}">
                  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                  {{ choice.text }}
                  <i>(Ответить)</i>
                </label>
              </div>
            {% endfor %}
          {% else %}
            <input type="submit" class="btn btn-primary" value="Следующий слайд" />
          {% endif %}
        </form>

      </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{% static 'iedu/slide.js' %}"></script>
  </body>

</html>
